<div data-conlet-title="${_("conletName")}" class="jgrapes-osgi-bundles-preview"
  data-jgwc-on-load="orgJGrapesOsgiConletBundles.initPreviewTable"
  data-jgwc-on-unload="JGConsole.jgwc.destroyVMs"> 
  <table class="table--basic jgrapes-osgi-bundles-preview-table">
    <thead>
      <tr>
        <th v-for="key in controller.keys"
          v-on:click="controller.sortBy(key)">
          {{ localize(controller.label(key)) }}<span v-if="controller.sortedByAsc(key)"
            role="button" tabindex="0">&#x25B2;</span><span
            v-if="controller.sortedByDesc(key)"
            role="button" tabindex="0">&#x25BC;</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData" 
        v-bind:title="entry['symbolicName'] + ':' + entry['version']
        + ' (' + entry['state'] + ')'">
        <td v-for="key in controller.keys">
          {{entry[key]}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
