/*
 * Conlet specific styles.
 */
 
.jgrapes-osgi-bundles-view-search {
	display: flex; 
	justify-content: flex-end
}

.jgrapes-osgi-bundles-view-search form {
	white-space: nowrap;
}

.jgrapes-osgi-bundles-view-action-list {
    white-space: nowrap;
}

.jgrapes-osgi-bundles-view-action-list [role=button]:not(:last-child) {
	margin-right: 0.5em;
}

.jgrapes-osgi-bundles-view td {
	vertical-align: top;
}

.jgrapes-osgi-bundles-view tbody > tr td:first-child {
    white-space: nowrap;
}

.jgrapes-osgi-bundles-view table td.details {
    padding-left: 1em;
}

