<div data-portlet-title="${_("portletName")}" class="jgrapes-osgi-services-view"
  data-jgp-on-load="orgJGrapesOsgiPortletsServices.initView">
  <div class="jgrapes-osgi-services-view-search">
    <form>
      <label>
        <span>${_("Filter")}</span>
        <input type="search" v-on:input="controller.updateFilter($event)">
        <span role="button" tabindex="0" class="fas fa-backspace" 
          v-on:click="controller.clearFilter($event)"></span>
      </label>
    </form>
  </div>
  <table class="table--basic table--basic--striped jgrapes-osgi-services-view-table">
    <thead>
      <tr>
        <th v-for="key in controller.keys"
          v-on:click="controller.sortBy(key)">
          {{ controller.label(key) }}<span v-if="controller.sortedByAsc(key)"
            role="button" tabindex="0">&#x25B2;</span><span
            v-if="controller.sortedByDesc(key)"
            role="button" tabindex="0">&#x25BC;</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <template v-for="(entry, rowIndex) in filteredData">
        <tr :class="[(rowIndex % 2) ? 'odd' : 'even']">
          <td v-for="key in controller.keys"
            v-bind:rowspan="key == 'id' ? '1' : false">
            <span v-if="key == 'id'" tabindex="0"
              role="button" class="fas fa-caret-right"
              onclick="$(this).parent().parent().next().toggle();
                  $(this).toggleClass('fa-caret-right fa-caret-down');
                  $(this).parent().attr('rowspan', 3 - $(this).parent().attr('rowspan'))"></span>
            <span v-html="controller.breakBeforeDots(entry[key])"></span>
          </td>
        </tr>
        <tr style="display: none;"
          :class="[(rowIndex % 2) ? 'odd' : 'even']">
          <td colspan="4" class="details">
            <table class="table--basic table--basic--autoStriped">
              <tr v-for="[key, value] of sortedProperties(entry.properties)">
                <td>{{ key }}</td>
                <td>{{ value }}</td>
              </tr>
              <tr v-if="entry.usingBundles && entry.usingBundles.length > 0">
                <td>{{ orgJGrapesOsgiPortletsServices.l10n.serviceUsingBundles }}</td>
                <td v-html="entry.usingBundles.join(',<br>')"></td>
              </tr>
            </table>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</div>
