<div data-conlet-title="${_("conletName")}" class="jgrapes-osgi-logviewer-view"
  data-jgwc-on-load="orgJGrapesOsgiConletLogViewer.initView"
  data-jgwc-on-unload="orgJGrapesOsgiConletLogViewer.onUnload">
  <div class="jgrapes-osgi-logviewer-control">
	<form class="flow-content--paragraph">
	  <fieldset class="form__fieldset--horizontal form__fieldset--panel">
		<span>
		  <legend>${_("Update")}</legend>
		    <span>
			  <label>
			    <input type="checkbox" v-model="autoUpdate">
				  <span>${_("auto")}</span>
			  </label>
		    <span role="button" class="jgrapes-osgi-logviewer-reload fas fa-sync"
			  v-on:click="resync($event)">
		   </span>
		  </span>
	    </span>
	  </fieldset>

      <label class="form__label--horizontal jgrapes-osgi-logviewer-level">
        <span>${_("severityAtLeast")}</span>
        <select v-model="messageThreshold">
          <option value="AUDIT">${_("AUDIT")}</option>
          <option value="ERROR">${_("ERROR")}</option>
          <option value="WARN">${_("WARN")}</option>
          <option value="INFO">${_("INFO")}</option>
          <option value="DEBUG">${_("DEBUG")}</option>
          <option value="TRACE">${_("TRACE")}</option>
        </select>
      </label>

      <label class="form__label--horizontal">
        <span>${_("Filter")}</span>
        <input type="search" v-on:input="controller.updateFilter($event)">
        <span class="form-item">
          <span role="button" class="fas fa-backspace" 
            v-on:click="controller.clearFilter($event)"></span>
        </span>
      </label>
    </form>
  </div>
  <table class="table--basic table--basic--striped jgrapes-osgi-logviewer-table">
    <thead>
      <tr>
        <th v-for="key in controller.keys"
          class="sortable" 
          v-on:click="controller.sortBy(key === 'time' ? 'sequence' : key)">
          {{ controller.label(key) }}<span 
            v-if="controller.sortedByAsc(key === 'time' ? 'sequence' : key)"
            role="button">&#x25B2;</span><span
            v-if="controller.sortedByDesc(key === 'time' ? 'sequence' : key)"
            role="button">&#x25BC;</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <template v-for="(entry, rowIndex) in filteredData">
        <tr :class="[(rowIndex % 2) ? 'odd' : 'even']">
          <template v-for="key in controller.keys">
            <td v-if="key === 'exception'"
              onclick="$(this).parent().next().toggle();
                $(this).find('.jgconsole-button-icon').toggleClass('fa-caret-right fa-caret-down')">
              <template v-if="entry['stacktrace']">
                <span role="button" class="fas fa-caret-right"></span>
                <span v-if="entry['stacktrace']" role="button"
                  v-html="entry[key]"></span>
              </template>
            </td>
            <td v-else-if="key === 'time'" v-html="formatTimestamp(entry[key])">
            </td>
            <td v-else
              v-html="controller.breakBeforeDots(entry[key])">
            </td>
          </template>
        </tr>
        <tr v-if="entry['stacktrace']" style="display: none;" 
          :class="[(rowIndex % 2) ? 'odd' : 'even']">
          <td colspan="6">
            <pre v-html="entry['stacktrace']"></pre>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</div>
