[role="tree"] li > span {
    display: inline-block;
    padding: 0.125rem 0.25rem;
}

[role="tree"] li > span > * {
    vertical-align: middle;
}


[role="tree"] [role="none"] > span::before {
    content: "";
    width: 1rem;
    height: 0;
    display: inline-block;
    vertical-align: middle;
}

[role="tree"] [role="treeitem"][aria-expanded="false"] > span::before {
    content: "";
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.375rem;
    border-style: solid;
    border-width: 0.5rem 0 0.5rem 0.625rem;
    border-color: transparent transparent transparent rgb(var(--primary));
}

[role="tree"] [role="treeitem"][aria-expanded="false"] > span:hover::before {
    transform: scale(1.25);
    position: relative;
    left: 0.1rem;
}

[role="tree"] [role="treeitem"][aria-expanded="true"] > span::before {
    content: "";
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: middle;
    border-style: solid;
    border-width: 0.625rem 0.5rem 0 0.5rem;
    border-color: rgb(var(--primary)) transparent transparent transparent;
}

[role="tree"] [role="treeitem"][aria-expanded="true"] > span:hover::before {
    position: relative;
    transform: scale(1.25);
}


/* Disable default keyboard focus styling for treeitems.
   Selected (and thus focus) is styled with the rules following. */
[role="tree"] li:focus {
    outline: 0;
}

[role="tree"] li[tabindex="0"] > span {
    font-weight: bold;
}

[role="tree"] li:focus > span {
    border: 1px solid rgb(var(--panel-border));
    margin: -1px;
}

/*
 * Conlet specific styles.
 */

/* Preview */

.jgrapes-osgi-upnpbrowser-preview li {
    text-indent: -1.825em;
}

.jgrapes-osgi-upnpbrowser-preview li * {
    text-indent: 0;
}
 
.jgrapes-osgi-upnpbrowser-preview .device-icon {
	width: 1.5em;
}

.jgrapes-osgi-upnpbrowser-preview .device-icon.fas {
    width: 1.2em;
    height: 1.2em;
    font-size: 125%;
    text-align: center;
    color: var(--gray);
}

/* View */

/* Adjust icon widths */
.jgrapes-osgi-upnpbrowser-view .device-icon {
    width: 1.5em;
    height: 1.5em;
}

.jgrapes-osgi-upnpbrowser-view .device-icon.fas {
    width: 1.2em;
    height: 1.2em;
	font-size: 125%;
	text-align: center;
	color: var(--gray);
}

/* Negative indent first lines to make icon stick out */ 
.jgrapes-osgi-upnpbrowser-view li p {
    text-indent: -1.825em;
    margin-left: 2em;
    margin-bottom: 0;
    display: inline-block;
}
 
.jgrapes-osgi-upnpbrowser-view li p > * {
    text-indent: initial;
}

/* Remove default bullets and position toggle icons as replacements */

.jgrapes-osgi-upnpbrowser-view ul {
    list-style-type: none;
    padding-left: 1.25em;
}

.jgrapes-osgi-upnpbrowser-view li {
    position: relative;
}

.jgrapes-osgi-upnpbrowser-view .toggle-icon {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
	position: absolute;
	left: -1.25em;
	width: 1em;
	text-align: right;
	cursor: default;
}

/* Move nested lists to the left */
.jgrapes-osgi-upnpbrowser-view p ul {
	margin-left: -1.25em;
}
 
