<div data-portlet-title="${_("portletName")}" class="jgrapes-osgi-upnpbrowser-preview"> 
  <table class="jgportal-basic-table jgrapes-osgi-upnpbrowser-preview-table">
    <tbody>
      <tr v-for="device of devices">
        <td>
          <img v-if="'iconUrl' in device" class="device-icon" 
            v-bind:src="device.iconUrl">
          <i v-else class="fas fa-server device-icon"></i>
        </td>
        <td>
          {{ device.friendlyName }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script>
orgJGrapesOsgiPortletsUPnPBrowser.initPreview("${portlet.portletId}");
</script>
