/*
 * Portlet specific styles.
 */

.jgrapes-osgi-upnpbrowser-preview-table tbody td:not(:last-child) {

    padding-right: 0.325em;

}
.jgrapes-osgi-upnpbrowser-preview img.device-icon {
	width: 1.5em;
}
 
.jgrapes-osgi-upnpbrowser-preview .fas {
    font-size: 1.5em;
}

