<div data-portlet-title="${_("portletName")}" class="jgrapes-osgi-logviewer-view">
  <div class="jgrapes-osgi-logviewer-control">
    <form>
      <span role="button" class="jgrapes-osgi-logviewer-reload jgportal-button-icon fas fa-sync" 
        v-on:click="resync($event)"></span>
      <span class="jgrapes-osgi-logviewer-level">
        <label v-bind:for="portletId + '-Level'">${_("severityAtLeast")}</label>
        <select v-bind:id="portletId + '-Level'" v-model="messageThreshold">
          <option value="AUDIT">${_("AUDIT")}</option>
          <option value="ERROR">${_("ERROR")}</option>
          <option value="WARN">${_("WARN")}</option>
          <option value="INFO">${_("INFO")}</option>
          <option value="DEBUG">${_("DEBUG")}</option>
          <option value="TRACE">${_("TRACE")}</option>
        </select>
      </span>
      <span class="jgrapes-osgi-logviewer-search">${_("Filter")} 
        <input type="search" v-on:input="controller.updateFilter($event)">
        <span role="button" class="jgportal-button-icon fas fa-backspace" 
          v-on:click="controller.clearFilter($event)"></span></span>
    </form>
  </div>
  <table class="jgportal-basic-table jgportal-striped-table jgrapes-osgi-logviewer-table">
    <thead>
      <tr>
        <th v-for="key in controller.keys"
          class="sortable" 
          v-on:click="controller.sortBy(key === 'time' ? 'sequence' : key)">
          {{ controller.label(key) }}<span 
            v-if="controller.sortedByAsc(key === 'time' ? 'sequence' : key)"
            role="button" class="jgportal-button-icon">&#x25B2;</span><span
            v-if="controller.sortedByDesc(key === 'time' ? 'sequence' : key)"
            role="button" class="jgportal-button-icon">&#x25BC;</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(entry, rowIndex) in filteredData"
        :class="[(rowIndex % 2) ? 'odd' : 'even']">
        <template v-for="key in controller.keys">
          <td v-if="key === 'exception'">
            <a href="#" tabindex="0" 
              data-toggle="popover" 
              v-bind:title="entry['exception']" 
              v-bind:data-content="entry['stacktrace']"
              v-html="entry[key]"></a>
          </td>
          <td v-else-if="key === 'time'" v-html="formatTimestamp(entry[key])">
          </td>
          <td v-else
            v-html="controller.breakBeforeDots(entry[key])">
          </td>
        </template>
      </tr>
    </tbody>
  </table>
</div>

<script>
    orgJGrapesOsgiPortletsLogViewer.initView("${portlet.portletId}");
</script>
