/*
 * Portlet specific styles.
 */

/* View */

.jgrapes-osgi-logviewer-control form {
    display: flex; 
}

.jgrapes-osgi-logviewer-control form label:not(:first-child) {
    margin-left: 1em; 
}

.jgrapes-osgi-logviewer-control form .jgrapes-osgi-logviewer-level {
    margin-left: auto !important;
}

.jgrapes-osgi-logviewer-control form .jgrapes-osgi-logviewer-level select {
    min-width: 10em;
}

.jgrapes-osgi-logviewer-table tr,td {
	vertical-align: top;
}

.jgrapes-osgi-logviewer-table table {
    border-collapse: collapse;
}

.jgrapes-osgi-logviewer-table tr:first-child {
    border-top: none;
}

.jgrapes-osgi-logviewer-stacktrace {
    max-width: 80%;
}

.jgrapes-osgi-logviewer-stacktrace.popover {
    font-size: 100%;
}

.jgrapes-osgi-logviewer-stacktrace .popover-header {
    padding: 0.5rem 1.25rem;
}

.jgrapes-osgi-logviewer-stacktrace .popover-body {
	padding: 1rem 1.25rem;
}

.jgrapes-osgi-logviewer-reload {
    margin-left: 1em;
	margin-right: 1em;
}